@font-face{
	font-family: segoeui;
	src:url(../fonts/segoe_ui.ttf);
}
@font-face{
	font-family: funsized;
	src:url(../fonts/funsized.ttf);
}
@font-face {
	font-family: walkway_bold;
	src:url(../fonts/WalkwayUltraBold.ttf);
}
