.puppets{
    position: absolute;
    top: -30%;
    right: -45%;
    display: none;
    /*transform: scale(0.6);
    -webkit-transform:; scale(0.6);*/
}

#base{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 2000;
    /*transform: scale(0.49);
    -webkit-transform:; scale(0.49);*/
}

#mic{
    /*position: absolute;
    z-index: 2001;
    left:6%;
    top:7%;
    transform: scale(0.49);
    -webkit-transform:; scale(0.49);
    -webkit-animation: micmotion 3s linear infinite;
    animation: micmotion 3s linear infinite;
    transform-origin:bottom left;*/
}

#guit{
    /*position:absolute;
    z-index:2001;
    left:19%;
    top:-6%;
    transform: scale(0.49);
    -webkit-transform:; scale(0.49);
    transform-origin:bottom right;
    -webkit-animation: micmotion 1s linear infinite;
    animation: micmotion 1s linear infinite;*/
}
#ghand{
    /*position: absolute;
    z-index: 2001;
    left:21.3%;
    top:50%;
    transform: scale(0.49);
    -webkit-transform:; scale(0.49);
    transform-origin:top left;
    -webkit-animation: ghandmotion .5s linear infinite;
    animation: ghandmotion .5s linear infinite;*/
}

@-webkit-keyframes micmotion {
    0%   {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
    12%  {-webkit-transform: rotate(3deg) translateX(12px) rotate(0deg);}
    25%  {-webkit-transform: rotate(4deg) translateX(12px) rotate(0deg);}
    38%  {-webkit-transform: rotate(3deg) translateX(12px) rotate(0deg);}
    50% {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
    62% {-webkit-transform: rotate(-3deg) translateX(12px) rotate(0deg);}
    75% {-webkit-transform: rotate(-4deg) translateX(12px) rotate(0deg);}
    88% {-webkit-transform: rotate(-3deg) translateX(12px) rotate(0deg);}
    100% {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
}


@-webkit-keyframes guitmotion {
    0%   {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
    50% {-webkit-transform: rotate(-3deg) translateX(12px) rotate(0deg);}
    100% {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
}


@-webkit-keyframes ghandmotion {
    0%   {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
    25%   {-webkit-transform: rotate(4deg) translateX(12px) rotate(0deg);}
    50% {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
    75%   {-webkit-transform: rotate(-4deg) translateX(12px) rotate(0deg);}
    100% {-webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);}
}
