/*
	z-index range 9001-9500
*/
@media all and (min-width: 1400px) {
	#socialcause{
		background-image: url(../img/comingsoon/bg.jpg);
		background-size: 98% 110%; 
		opacity: 1;
		z-index: 7100;
		background-repeat: no-repeat;
		height: 100%;
		
	}
	
}

@media all and (max-width: 1399px) {
	#socialcause{
		background-image: url(../img/comingsoon/bg.jpg);
		background-size: 70% auto;
		opacity: 1;
		z-index: 7100;
		background-repeat: no-repeat;
		height: 100%;
		margin-top: 0%;
	}
}