
.panel {
	width: 930px;
	height: 100%;
	float: left;
	/*padding-left: 30px;*/
	padding-right: 1040px;
	/*padding-top: 45px;*/
	background-color:rgba(255,0,0,1);	/* Make panel Transparent */
	z-index: 10000;
}
		
#banner {
	position: fixed;
	z-index: 4000;
}

#banner ul {
	line-height: 45px;
	margin: 0 30px;
	padding: 0;
}

#banner ul li {
	display: inline;
	margin-right: 30px;
}

#bottommenu{
	position: fixed;
	height: 50%;
}